/* Global Setting */
:root {
    /* Color */
    --color-white: #EBF7ED;
    --color-grey: #8898AC;
    --color-grey-light: #C6CFDF;
    --color-grey-dark: #354868;
    --color-black: #041028;
    --color-brown: #996F3F;
    --color-brown-dark: #2C291A;
    --color-yellow: #F6DD9A;
    --color-yellow-light: #F9EED2;
    --color-yellow-dark: #E7DEBF;
    --color-navy: #0D3858;
    --color-navy-dark: #2F6383;
    --color-pink: #AF9594;

    /* Font Size */
    --font-large: 20px;
    --font-medium: 16px;
    --font-small: 14px;
    --font-micro: 12px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-regular: 400;

    /* Size */
    --size-wide-super: 24px;
    --size-wide: 18px;
    --size-regular: 12px;
    --size-slim: 8px;

    /* Duration */
    --duration: 300ms;

    /* Font Family */
    font-family: 'PT Sans', sans-serif;
    background-color: var(--color-white);
}

/* CSS Reset */
body {
    margin: 0;
    padding: 0;
}
button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Navbar */
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-wide);
    background-color: var(--color-navy);
    color: var(--color-white);
    border-bottom: 1px solid var(--color-grey);
}
.navbar__logo {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    letter-spacing: -0.08em;
    text-transform: uppercase;
}
.navbar__logoImg {
    height: 1.3em;
    vertical-align: bottom;
}
.navbar__menuBtn {
    vertical-align: top;
    background-color: var(--color-navy-dark);
    border: 1px solid var(--color-grey-dark);
    border-radius: 3px;
    padding: var(--size-slim);
    color: var(--color-white);
}